html{
    scroll-behavior: smooth;
    font-family: 'Rubik', sans-serif;
}
body{
    margin:0;
    padding:0;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #333;
}
::-webkit-scrollbar-thumb{
    background: #777;
} 
::-webkit-scrollbar-thumb:hover{
    background: #a70f23;
} 



.standard-button{
    border:none;
    padding:5% 15%;
    font-size: medium;
}
.button-red{
    transition: background-color .1s;
    background-color:#d4122c;
    color:white;
}
.button-red:hover{
    transition: .1s;
    background-color:#a70f23;
}



.href-arrow{
    color:#a70f23;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    transition: .2s;
}
.href-arrow span{
    display:none;
}
.href-arrow:hover span{
    display: initial;
    transition:.2s;
}
.href-arrow:hover{
    font-size: x-large;
    transition:.2s;
}



.navbar{
    display: flex;
    align-items: center;
    z-index: 10;
    position: sticky;
    top:0;
    background-color: white;
}
.navbar button{
    border: none;
    background-color: white;
    font-size: large;
    transition: transform .1s;
}
.navbar a:not(.navbar-image){
    padding:1%;
}
.navbar a:hover button, .navbar a:hover{
    cursor: pointer;
}
.navbar a:hover button{
    transition: transform .1s;
    transform: scale(1.1);
    text-decoration: #d4122c underline 2px;
}
.navbar-image{
    width:4%;
}
.navbar-image img{
    transition:transform .1s;
    width:100%;
}
.navbar a:hover img{
    transition:.1s;
    transform: translatex(10%);
}
#navbar-active button{
    color:#a70f23;
}
.navbar-icon {
    display: none;
    color: black;
}
@media screen and (max-width: 1300px){
    .navbar a:not(.navbar-image){
        padding:2%;
    }
    .navbar-image{
        width:5%;
    }
}
@media screen and (max-width: 1070px) {
    .navbar{
        flex-direction: column;
    }
    .navbar:not(.navbar-responsive) a .content-down{
        display: none;
    }
    .navbar-responsive a .content-up{
        display:none;
    }
    .navbar-responsive{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .navbar-responsive a:not(:first-child,#navbar-active,.navbar-icon) {
        display: none;
    }
    .navbar a.navbar-icon {
        display: block;
    }
    .navbar .navbar-responsive {
        position: relative;
    }
    .navbar .navbar-responsive .navbar-icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar-image{
        width:8%;
    }
    .navbar a:hover img{
        transition:.1s;
        transform: scale(1.1);
    }
}
@media screen and (max-width: 700px){
    .navbar a:not(.navbar-image) {
        padding:5%;
    }
    .navbar-image{
        width: 15%;
    }
}



.backgroundimage-header{
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    display:flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 10000px 0 0 0 rgba(0,0,0,0.5);
}
.backgroundimage-header:not(.backgroundimage-header-small){
    padding:10%;
}
.backgroundimage-header-small{
    padding:2%;
    margin: 2% 0;
}
.backgroundimage-header .content{
    color:white;
    background-color:rgba(0,0,0,0.5);
    border-radius: 40px;
    padding:3%;
    text-align: center;
    text-shadow: #000000 0 2px;
}
@media screen and (max-width: 600px){
    .backgroundimage-header{
        padding:0;
    }
    .backgroundimage-header .content{
        width:100%;
        border-radius: 0;
    }
    .backgroundimage-header:not(.backgroundimage-header-small){
        padding: 0%;
    }
    .backgroundimage-header:not(.backgroundimage-header-small) .content{
        padding:30% 3%;
    }
}



.split-div{
    display:flex;
    justify-content: space-around;
    align-items:stretch;
    width:100%;
}
.split-div .content-image, .split-div .content-text{
    width:50%;
    padding:1%
}
.split-div .content-image img{
    width:100%;
}
.split-div .content-image{
    display:flex;
    justify-content: center;
    align-items: center;
}
.split-div .content-text{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align:center;
}
.split-div-weighted .content-weighted{
    width:25%;
}
.split-div-weighted div:not(.content-weighted){
    width:75%;
    text-align: left;
}
.split-div-weighted .content-text-left{
    text-align:left;
    align-items:flex-start;
}
.split-div-pill{
    padding:5% 0;
    margin:3% auto;
    width:95%;
    border-radius: 30px;
    background-color: #a70f23;
    color:white;
}
.split-div-wide{
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding:2%;
}
.pill-bottom{
    width:75%;
    margin:5% auto;
    border-radius: 0 0 30px 30px;
}
.pill-top{
    width:75%;
    margin:5% auto;
    border-radius: 30px 30px 0 0;
}

#joseph-smith-jpg{
    width: 75%;
}
#about-director-head{
    align-items: flex-start;
}
@media screen and (max-width: 900px){
    .split-div{
        flex-direction: column;
    }
    .split-div .content-text{
        width:96%;
        padding:2%;
    }
    .split-div .content-image{
        width:100%;
        padding:0
    }
    .split-div-weighted div:not(.content-weighted){
        width:96%;
        padding:2%;
        text-align: center;
    }
    #joseph-smith-jpg{
        width:50%;
    }
    #about-director-head{
        align-items:center;
    }
    .split-div-pill{
        margin:0 0 5%;
        width:100%;
        border-radius: 0;
    }
    .split-div-wide{
        flex-direction:column;
    }
    .split-div-wide div{
        padding:2%;
    }
    .split-div-wide *{
        text-align:center;
    }
}
@media screen and (max-width: 550px){
    .pill-top,.pill-bottom{
        width:96%;
        padding:2% 2% 10%;
        border-radius: 0;
    }
    #joseph-smith-jpg{
        width:75%;
    }
}



.simple-header{
    padding:2%;
    font-size: xx-large;
}
.simple-header p{
    color:gray;
}
@media screen and (max-width: 900px){
    .simple-header{
        text-align: center;
        font-size: x-large;
    }
}



.calendar-event{
    display:none;
    align-items: center;
    justify-content: space-between;
    margin:2%;
    padding:2%;
    border: 5px solid #a70f23;
    border-radius: 10px;
    text-align: center;
}
.calendar-event .content-title{
    width:50%;
}
.calendar-event .content-setting, .calendar-event .content-date{
    width:20%;
}
.calendar-event .content-title p{
    font-weight: bold;
    color:gray;
}
.calendar-filter-show{
    display:flex;
}
.calendar-filter-button{
    border:none;
    padding:1%;
    font-size: large;
    transition: background-color .2s;
}
.calendar-filter-button-active{
    background-color: #a70f23;
    color:white;
}
.calendar-filter-button:hover:not(.calendar-filter-button-active){
    background-color:#ccc;
    transition: background-color .2s;
}
@media screen and (max-width: 900px){
    .calendar-event{
        flex-direction: column;
    }
    .calendar-event .content-date, .calendar-event .content-setting{
        font-size: xx-small;
    }
    .calendar-event .content-setting p {
        font-size: initial;
    }
    .calendar-event .content-title, .calendar-event .content-setting, .calendar-event .content-date{
        width:initial;
    }
    .calendar-filter-button{
        padding:2%;
    }
}
@media screen and (max-width: 760px) {
    .calendar-filter-container{
        display:flex; 
        flex-direction: column; 
        align-items: stretch;
        justify-content:space-between;
    }
    .calendar-filter-button{
        padding:4%;
    }
}



.people-circles-container{
    text-align: center;
    margin:5%;
}
.people-circles{
    display:flex;
    align-items:flex-start;
    justify-content: space-around;
    flex-wrap:wrap;
}
.people-circles .content-person{
    width:30%;
    text-align: center;
    flex-basis:30%;
}
.people-circles-container .content-header{
    font-size: 60px;
}
.people-circles .content-person .content-person-picture img{
    width:100%;
}
@media screen and (max-width: 950px){
    .people-circles{
        flex-direction: column;
        align-items: center;
    }
    .people-circles .content-person{
        width:100%;
    }
    .people-circles .content-person .content-person-picture img{
        width:50%;
    }
    .people-circles .content-person {
        margin-bottom: 10%;
    }
}
@media screen and (max-width: 600px){
    .people-circles .content-person .content-person-picture img{
        width:75%;
    }
}



.header-list{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.header-list *{
    text-align: center;
}
.header-list .content-subhead{
    color:#777;
}
.header-list .content-list{
    font-size: x-large;
}



.contact-pill{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 0 10%;
}
.contact-pill *{
    text-align:center;
}



.roster{
    display:none;
}
.roster-show {
    display:initial;
}
.roster-button{
    border:none;
    background:none;
    color:#a70f23;
    font-size: large;
    font-weight:600;
    padding:0;
    margin:0;
}
.roster span{
    font-weight: bolder;
    font-size: large;
}



.sponsors .content-sponsor{
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin:5% 0;
    padding:5%;
}
.sponsors .content-sponsor div{
    width:30%;
    text-align: center;
}
@media screen and (max-width: 1000px){
    .sponsors{
        text-align:center;
        margin:2% 0;
    }
    .sponsors .content-sponsor{
        display:inline-block;
        vertical-align: middle;
        padding: 2%;
        margin: 2%;
        width: 40%;
    }
    .sponsors .content-sponsor div{
        width:100%;
        margin: 5% 0;
    }
    .sponsors .content-sponsor .content-logo img{
        width:80%;
    }
}
@media screen and (max-width: 700px){
    .sponsors .content-sponsor{
        width:90%;
    }
}



.attach-top{
    margin-top:0;
}
.attach-bottom{
    margin-bottom:0;
}